# ------------------------------------------------------------------
# Ignore the entire build directory 
# ------------------------------------------------------------------
build/

# ------------------------------------------------------------------
# Ignore the IDE or Editor specific folders
# ------------------------------------------------------------------
.vscode/
.idea/
*.swp

# ------------------------------------------------------------------
# Ignore Operating System junk
# ------------------------------------------------------------------
.DS_Store
Thumbs.db